name: Deploy Spring Boot to EC2

on:
  push:
    branches: [ "main" ]   # chạy khi bạn push lên nhánh main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR
        run: mvn clean package -DskipTests

      - name: Copy JAR to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          source: "target/*.jar"
          target: "/home/ubuntu/app/"

      - name: Restart Application on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            echo "Stopping old app (if exists)..."
            pkill -f "java -jar" || true
            
            echo "Starting new app..."
            cd /home/ubuntu/app
            nohup java -jar $(ls *.jar | head -n 1) > log.txt 2>&1 &
            
            echo "Deployment complete."
