name: Deploy to EC2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH Key
        run: |
          echo "${{ secrets.EC2_KEY }}" > shop1.pem
          chmod 600 shop1.pem

      - name: Deploy via SSH
        run: |
          ssh -o StrictHostKeyChecking=no -i shop1.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
            cd /home/ubuntu
            git remote set-url origin git@github.com:duognguyn-code/myshop.git
            git pull origin main
            docker-compose down
            docker-compose build --no-cache
            docker-compose up -d
          EOF